.about {
	@include adaptiveValue("padding-top", 114, 32);
	@include adaptiveValue("padding-bottom", 64, 32);
	// .about__container
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: toRem(30);
		@media (max-width: $tablet) {
			grid-template-columns: auto;
			justify-content: center;
		}
	}
	// .about__body
	&__body {
		@include adaptiveValue("padding-top", 100, 30, 2, $containerWidth, 991.98);
		@media (min-width: $tablet) {
			max-width: toRem(580);
			padding-right: toRem(20);
		}
	}
	// .about__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 56, 32);
		}
	}
	// .about__items
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include adaptiveValue("gap", 32, 24);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 56, 32);
		}
		@media (max-width: $mobile) {
			grid-template-columns: auto;
		}
	}
	// .about__item
	&__item {
		padding-left: toRem(28);
		font-size: toRem(20);
		@include adaptiveValue("font-size", 20, 16, 0, $containerWidth);
		font-weight: 700;
		line-height: 1.4;
		color: $mainColorLight;
		background: url("@img/icons/check-dark.svg") 0 em(8, 20) no-repeat;

		opacity: 0;
		transform: translate(0, 15%);
		transition: opacity 0.5s transform 0.5s;
		
		._watcher-view & {
			opacity: 1;
			transform: translate(0, 0);
			@for $i from 1 through 6 {
				&:nth-child(#{$i}) {
					$startDelay: 0.5;
					$delay: $i * 0.15;
					transition-delay: #{$delay}s;
				}
			}
		}
	}
	// .about__info
	&__info {
		padding: toRem(12) toRem(32);
		font-size: toRem(18);
		line-height: 1.55;
		color: #fff;
		a {
			font-size: toRem(20);
			font-weight: 600;
			text-decoration-line: underline;
			white-space: nowrap;
			@media (max-width: $tablet) {
				@include adaptiveValue("font-size", 20, 18);
			}
		}
		border-radius: toRem(24);
		background: $accentColor;
		@media (min-width: $tablet) {
			max-width: toRem(450);
		}
		@media (max-width: $tablet) {
			padding: toRem(12) toRem(24);
			// text-align: center;
		}
	}
	// .about__image
	&__image {
		text-align: center;
		img {
			width: 100%;
		}
	}
}
.title-block {
	// .title-block__title
	&__title {
	}
	// .title-block__text
	&__text {
	}
}
