.blog {
	@include adaptiveValue("padding-top", 84, 32);
	@include adaptiveValue("padding-bottom", 84, 32);
	// .blog__container
	&__container {
		display: grid;
	}
	// .blog__title-block
	&__title-block {
		max-width: toRem(690);
		margin: 0 auto;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 56, 16);
		}
	}
	// .blog__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(400), 1fr));
		gap: toRem(48);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 56, 32);
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
		}
	}
	// .blog__item
	&__item {
	}
	// .blog__view-more
	&__view-more {
		justify-self: center;
		padding-right: em(30, 24);
		@include adaptiveValue("font-size", 24, 18);
		font-weight: 700;
		line-height: 1.33;
		color: $accentColor;
		background: url("@img/icons/more.svg") right no-repeat;
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.item-blog {
	display: grid;
	// .item-blog__image
	&__image-ibg {
		aspect-ratio: 444 / 300;
		border-radius: toRem(24);
		overflow: hidden;
		img {
			transition: all 0.5s ease 0s;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 24, 16);
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	// .item-blog__date
	&__date {
		line-height: 1.55;
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .item-blog__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .item-blog__link-title
	&__link-title {
		@include adaptiveValue("font-size", 32, 28);
		font-weight: 700;
		color: $textColor;
		line-height: 1.25; /* 125% */
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .item-blog__text
	&__text {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 24, 16);
		}
	}
	// .item-blog__tags
	&__tags {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(12);
		row-gap: toRem(4);
	}
	// .item-blog__tag
	&__tag {
		padding: toRem(8) toRem(16);
		font-size: toRem(14);
		font-weight: 600;
		line-height: 1.42; /* 142.857% */
		color: $textGrey;
		border-radius: toRem(24);
		background: $grey-light;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: $accentColor;
			}
		}
	}
}
