.review {
	@include adaptiveValue("padding-top", 130, 32);
	@include adaptiveValue("padding-bottom", 130, 32);
	// .review__container
	&__container {
		max-width: toRem(1160);
	}
	// .review__body
	&__body {
		position: relative;
		@media (min-width:em(600)){
			padding: 0 toRem(72);
		}
	}
	// .review__title-block
	&__title-block {
		margin: 0 auto;
		max-width: toRem(650);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 90, 48);
		}
	}
	// .review__slider
	&__slider {
		@include adaptiveValue("margin-bottom", 106, 30);
	}
	// .review__wrapper
	&__wrapper {
	}
	// .review__slide
	&__slide {
	}
	// .review__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		width: toRem(48);
		height: toRem(48);
		border-radius: 50%;
		background: $accentColor url("@img/icons/arrow.svg") center no-repeat;
		transform: translate(0, -50%);

		// .review__arrow_left
		&_left {
			left: 0;
		}
		// .review__arrow_right
		&_right {
			right: 0;
			transform: translate(0, -50%) rotate(-180deg);
		}
		&.swiper-button-disabled {
			background: #e3e6f0 url("@img/icons/arrow.svg") center no-repeat;
			pointer-events: none;
			cursor: default;
		}
		@media (max-width: em(600)){
			display: none;
		}
	}
	// .review__bullets
	&__bullets {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		column-gap: toRem(12);
		row-gap: toRem(4);
		.swiper-pagination-bullet {
			flex: 0 0 toRem(12);
			height: toRem(12);
			border-radius: toRem(24);
			background-color: #e3e6f0;
			cursor: pointer;
			transition: all 0.3s;
		}
		.swiper-pagination-bullet-active {
			flex: 0 0 toRem(40);
			background-color: $accentColor;
		}
	}
}

.slide-review {
	text-align: center;
	// .slide-review__logo
	&__logo {
		position: relative;
		text-align: center;
		padding-bottom: toRem(25);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 25);
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background: linear-gradient(90deg, rgba(79, 102, 183, 0) 0%, $textGreyLight 50%, rgba(79, 102, 183, 0) 100%);
		}
	}
	// .slide-review__text
	&__text {
		display: inline-block;
		max-width: toRem(730);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 26);
		}
	}
	// .slide-review__user
	&__user {
		display: inline-flex;
		gap: toRem(32);
		text-align-last: left;
	}
	// .slide-review__avatar
	&__avatar {
		flex: 0 0 toRem(76);
		height: toRem(76);
		border-radius: 50%;
		img {
			max-width: 100%;
		}
	}
	// .slide-review__body
	&__body {
	}
	// .slide-review__name
	&__name {
		@include adaptiveValue("font-size", 24, 20);
		font-weight: 700;
		line-height: 1.34;
		color: $textColor;
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	}
	// .slide-review__rating
	&__rating {
		.rating__value {
			display: none;
		}
	}
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
